@import "../../styles/Variable";
.banner {
  width: 100%;
  height: auto;
  background-image: url("../../../public/assets/coffee-morning.png");
  background-size: cover;
  background-position: center;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 100px;
  :global .banner {
    &_inner {
      margin-top: 52px;
    }
    &_heading {
      color: $primary-color;
      width: 50%;
      line-height: 90px;
      font-size: 80px;
      margin-bottom: 32px;
      font-family: var(--font-PlayfairDisplay);
      font-weight: 900;
    }
    &_paragraph {
      width: 50%;
      font-size: 16px;
      line-height: 32px;
      color: $grey-color;
      margin-bottom: 42px;
      font-family: var(--font-poppins);
      font-weight: 400;
    }
  }

  @media screen and (max-width: 767px) {
    border-radius: 0px;
    margin-bottom: 0px;
    :global .banner {
      &_inner {
        margin-top: 20px;
      }
      &_heading {
        color: $primary-color;
        width: 100%;
        line-height: 61px;
        font-size: 51px;
        margin-bottom: 32px;
        font-family: var(--font-PlayfairDisplay);
        font-weight: 900;
      }
      &_paragraph {
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        color: #e8e8e8;
        margin-bottom: 42px;
        font-family: var(--font-poppins);
        font-weight: 400;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    border-radius: 0px;
    margin-bottom: 0px;
    :global .banner {
      &_inner {
        margin-top: 52px;
      }
      &_heading {
        width: 80%;
      }
      &_paragraph {
        width: 80%;
      }
    }
  }
}
