@import "../../styles/Variable";

.ordersummary {
  background-color: #262d35;
  padding: 33px 43px 0 42px;

  :global .ordersummary {
    margin-bottom: 25px;
    &__title {
      color: #b7b7b8;
      font-family: var(--font-poppins);
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.1em;
      text-align: left;
    }
    &__description {
      font-family: var(--font-playfairDisplay);
      font-size: 20px;
      font-weight: 900;
      line-height: 35px;
      letter-spacing: 0.1em;
      text-align: left;
      color: #fdfcf7;
      span {
        color: #0e8684;
      }
    }
  }
}
